*{
  box-sizing: border-box;
}
.main {
    max-width: 1024px;
    margin: 0 auto;
    font: 1.2em Helvetica, arial, sans-serif;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
}
.main > * {
    border: 2px solid #f08c00;
    background-color: #ffec99;
    border-radius: 5px;
    padding: 10px;
    grid-column: 1 / span 12;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.main header{
  /*display: grid;
  grid-template-columns: 1fr 3fr;*/
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
.main header .logo{
  justify-self: center;
}
ul.menu li a{
  display: block;
  text-decoration: none;
  color: #fff;
  background: #EE7942;
  padding: 13px 44px;
  text-align: center;
}
ul.menu ul > li a:hover{
  background: #CD6839;
}
.menu li {
    margin-bottom: .1em;
}
.main aside{
  grid-row: 3;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.top h2{
  text-align: center;
}
.image img{
  width: 100%;
  object-fit: cover;
}
.products{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(280px, 1fr) );
  grid-gap: 20px 20px;
}
.product-item{
  display: grid;
  grid-template-rows: 1fr 45%;
  justify-content: center;
}
.product-item > p{
  width: 100%;
  text-align: justify;
}
.product-item img{
  width: 100%;
  object-fit: cover;
}
.main footer {
    display: grid;
    grid-template-columns: 15% 1fr 15%;
}
.social{
  grid-column: 2;
  grid-row: 1;
  align-self: center;
}
.nav-footer{
  grid-column: 2;
  grid-row: 2;
}
.copy-r{
  grid-column: 1 / 4;
  grid-row: 3;
}
.social ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
}
.nav-footer ul > li{
  padding: 5px 15px;
}
.nav-footer ul > li > a:link, a:visited{
  text-decoration: none;
  color: #000;
}
.nav-footer{
  margin: 0 auto;
}
.video img{
  width: 100%;
}
.about article > h2{
  text-align: center;
}
.about article > p{
  text-align: justify;
}
input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
}
input[type=submit]{
  background: #EE7942;
  border: none;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  float: right;
  resize: none;
}
@media only screen and (min-width: 26em){
  .main footer {
    display: grid;
    grid-template-columns: 25% 1fr 25%;
  }
  .nav-footer ul {
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
  }
  .main-nav{
    margin: 15px 0;
  }
  .nav-footer ul {
    border: 1px solid black;
    padding: 5px;
  }
  .nav-footer {
    grid-column: 1/4;
  }
  .nav-footer ul > li {
    padding: 5px 10px;
    display: inline-block;
  }
}
@media screen and (min-width: 53em) {
  .main header{
    display: grid;
    grid-template-columns: 1fr 3fr;
    /*display: grid;
    grid-template-columns: 1fr;*/
    grid-template-rows: 1fr;
  }
  .main header .logo{
    justify-self: center;
  }
  .principal {
    grid-column: 1 / span 8;
    display: grid;
    padding: 20px;
  }
  .main aside{
    grid-column: 9 / span 4;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .principal h1{
    text-align: center;
  }
  .principal p{
    text-align: justify;
  }
  .video{
    align-self: end;
  }
  .image{
    margin-bottom: 10px;
  }
  .top h2 {
    grid-column: 1;
  }
  .top div:nth-child(4) {
    grid-column: 1;
  }

  .social{
    grid-column: 2;
    grid-row: 1;
    align-self: center;
  }
  .nav-footer{
    grid-column: 2;
    grid-row: 2;
  }
  .copy-r{
    grid-column: 1 / 4;
    grid-row: 3;
  }
  nav ul{
    display: flex;
    justify-content: space-evenly;
  }
  ul.menu ul > li a:hover{
    background: #CD6839;
  }
  .main header > nav{
    align-self: center;
  }
  .social ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
  }
  .nav-footer ul > li > a:link, a:visited{
    text-decoration: none;
    color: #000;
  }
  .products{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    grid-gap: 20px 10px;
  }
  .product-item{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
  }
  .product-item > p{
    width: 300px;
    text-align: justify;
  }
}

/*.video {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video iframe, .video object, .video embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}*/
